{% extends 'base.html.twig' %}

		{% block title %}Toutes les recettes
		{% endblock %}

		{% block body %}
			<style>
				.list-wrapper {
					margin: 1em auto;
					max-width: 800px;
					width: 95%;
					font: 18px / 1.5 sans-serif;
				}
			</style>

			<div class="list-wrapper">
				<h1>Liste des recettes</h1>
				<p>Hello Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit, ratione et autem architecto, fuga est repellendus eligendi iure, facere ex doloremque voluptatum eius. Eius praesentium ipsam, aspernatur deserunt eligendi beatae.</p>
				<p>
					<a class="btn btn-success btn-sm" href="{{ path('recipe.create') }}" class="btn btn-primary">Créer une recette</a>
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>Titre</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for recipe in recipes %}
							<tr>
								<td>
									<a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
									({{ recipe.duration }}
									min)
								</td>
								<td>
									<div class="d-flex gap-2">
										<a class="btn btn-primary btn-sm" href="{{ path('recipe.edit', {id: recipe.id}) }}">Editer</a>
										<form action="{{ path('recipe.delete', {id: recipe.id}) }}" method="post">
											<input type="hidden" name="_method" value="DELETE">
											<button type="submit" class="btn btn-danger btn-sm">Supprimer</a>
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endblock %}